NEXT_PUBLIC_SUPABASE_URL=https://hiwzegklqgkfneztscjy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhpd3plZ2tscWdrZm5lenRzY2p5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDIyNTYsImV4cCI6MjA4ODM3ODI1Nn0.OlcCFR6-bGmOvheFygXV0HcABS1WKmjz60EFbJfrH7g
